vti_encoding:SR|utf8-nl
vti_author:SR|CENCOL\\300919236
vti_modifiedby:SR|CENCOL\\300919236
vti_timelastmodified:TR|18 Apr 2017 17:37:17 -0000
vti_timecreated:TR|11 Apr 2017 17:24:40 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|ProjectAssignment/Contact.html ProjectAssignment/Sitemap.html ProjectAssignment/Home.html ProjectAssignment/InventoryList.html ProjectAssignment/product-details/yachit-03.html ProjectAssignment/product-details/yachit-04.html ProjectAssignment/product-details/yachit-05.html ProjectAssignment/yacht_template.dwt ProjectAssignment/product-details/yachit-01.html ProjectAssignment/product-details/yachit-02.html
vti_nexttolasttimemodified:TW|18 Apr 2017 17:37:06 -0000
vti_cacheddtm:TX|18 Apr 2017 17:37:17 -0000
vti_filesize:IR|3311
vti_cachedlinkinfo:VX|S|images/background_pic.jpg S|images/banner.jpg
vti_cachedsvcrellinks:VX|FSUS|ProjectAssignment/images/background_pic.jpg FSUS|ProjectAssignment/images/banner.jpg
