body{
	background-size: contain auto;
	background-image: url('images/background_pic.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
}

#allPage{
	position: relative;
	width: 980px;
	margin-right: auto;
	margin-left: auto;
	font-size: medium;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: #000080;
	opacity: 0.78;
}
#banner{
	background-size: 980px 300px;
	padding: 0px;
	position: absolute;
	width: 980px;
	height: 250px;
	z-index: 1;
	background-image: url('images/banner.jpg');
	background-repeat: no-repeat;
	color: #FFFFFF;
}
.banner-head{
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
	font-size: 30px;
	font-weight: bold;
	font-variant: normal;
	text-transform:capitalize;
	position: absolute;
	top: 5px;
	left: 750px;
	right: 20px;
	color: #FFFFFF;
	font-style: italic;
}

#navigation{
	position: absolute;
	width: 980px;
	height: 30px;
	z-index: 10;
	top: 250px;
}

#navigation ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #003366;
	overflow: hidden;
	opacity: 0.83;
	height:100%
}

#navigation li{
	float: left;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
	font-size: small;
}

#navigation li a{
	display: inline-block;
	color: #FFFFFF;
	text-align: center;
	padding: 7px 28px 7px 28px;
	text-decoration: none;
	font-weight: bolder;
	font-size: small;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	text-transform: capitalize;
}

#navigation li a:hover{
	background-color: #108C99;
	color: #282728;
}



#content{
	position: absolute;
	width: 980px;
	height: 800px;
	z-index: 1;
	top: 280px;
}
#footer{
	position: absolute;
	width: 980px;
	height: 300px;
	z-index: 2;
	top: 1080px;
}

.footer-text-head{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bolder;
	color: #FFFFFF;
}
.footer-text{
	font-family: Arial, Helvetica, sans-serif;
	font-size: x-small;
	font-weight: bolder;
	color: #FFFFFF;
	text-align: justify;
}
.SubmitSubxcribe{
	border-color: #0099FF;
	background-color: #0099FF;
	color: #FFFFFF;
	text-transform: capitalize;
	border-radius: 4px;
	box-shadow: 0px 0px 0px;
	border-style: solid;
	cursor: pointer;
}


#footer-subscribe, #footer-news, #footer-contact{
	background-color: #003366;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: medium;
	color: #FFFFFF;
	height: 200px;
	position: absolute;	
}

#footer-subscribe{
	width: 320px;
}
#footer-news{
	width: 340px;
	left: 320px;
}

#footer-contact{
	width: 320px;
	left: 660px;
}

#footer-contact ul, #footer-news ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
#footer-contact li, #footer-news li{
	padding: 2px;
}

#footer-copyright{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: xx-small;
	color: #FFFFFF;
	position: absolute;
	top: 205px;
	left: 35%;
	right: 35%;
}

#footer h2{
	position: absolute;
	top: 0px;
	left: 25px;
}

.footer-wrap-up-content{
	position: absolute;
	top: 60px;
	height: 95px;
	left: 25px;
	right: 25px;
}

